token: "YourBotToken"
bot-id: "YourBotID"
server-name: "MyServer"
bot-activity: "%ServerName% with %onlineCount% players online!"

webhook:
  info: "Discord Webhook feature, for sending pretty messages."
  enabled: false
  url: "YourWebhookURL"
  
censorship:
  enabled: false
  own: true
  info: "If false it relies on censorship rules from ChatGuard plugin dir."

messages:
  channel-id: "YourMessageChannelID"
  channel-info: "Discord channel ID where most messages will be sent."
  
  censor:
    enabled: false
    info: "Allows censorship of messages sent in channel, censorship has to be true."

  sleepmessages:
    enabled: false
    format: "***%sleepmessage%***"
    info: "Allows sending of custom sleepmessages from Utilis."
  
  chat-game-message:
    message: "&f[&bDiscord&f] &7%user%: %content%"
    info: "Format for chat messages sent from Discord to Server chat."
    placeholders: "%user% = Discord username, %content% = message content, %tag% = Discord tag"
  
  game-chat-message:
    message: "**%DisplayName%**: %message%"
    info: "Format for chat messages sent from Server chat to Discord."
    placeholders: "%DisplayName% = Player displayname, %PlayerName% = Player name, %message% = chat message."

  join-message: "**%DisplayName%** Has Joined. [%onlineCount%/%maxCount%]"
  quit-message: "**%DisplayName%** Has Left. [%onlineCount%/%maxCount%]"

  normal-server-start-message: "%ServerName% is on!"
  normal-server-shutdown-message: "%ServerName% is off!"

  rich-server-start-message:
    author: ServerName
    title: Server has started!
    description: |
      Server is back online!
      Supports Multiline BTW!
    color: GREEN

  rich-server-shutdown-message:
    author: ServerName
    title: Server has stopped!
    description: |
      Server is taking a nap.
      Supports Multiline BTW!
    color: RED

server-shell:
  enabled: false
  channel-id: "YourShellChannelID"
  allow-bots:
    allow-bots.value: false
    allow-bots.info: "Allows Discord BOTs to interact with server shell."
  allowed-users:
    - discordID1
    - discordID2
  allowed-roles:
    - role1
    - role2

check:
  enabled: true
  allowed-users:
    - discordID1
    - discordID2
  allowed-roles:
    - role1
    - role2

sign:
  enabled: true
  channel-id: "YourSignChannelID"
  info: "Allows censorship of messages sent in channel, censorship has to be true."
  censor: false

status:
  enabled: true
  channel-id: "YourStatusChannelID"
  header: ":green_circle: Currently Online: %onlineCount%/%maxCount%"
  regions:
    enabled: true
    info: "When true adds Region tab to status page, needs set regions using WorldGuard."
  activity:
    enabled: true
    info: "When true adds Activity tab to status page, check activity_config.yml for more info."

debug: false
version: "1.0"
end: "End of config - Made by ~jkoo :D"